<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="edu.gcu.ssoclient"/>
</beans>

<!-- 
	<bean id="jmxinithandler" class="edu.gcu.jmx.JMXInitHandler">
		<constructor-arg>
			<util:set>
				<bean class="edu.gcu.jmx.JMXBean" p:domain="edu.gcu" p:suffix="properties.jmx">
					<property name="mbean">
						<bean class="edu.gcu.jmx.ResourceBundleConfig"/>
					</property>
				</bean>
				<bean class="edu.gcu.jmx.JMXBean" p:domain="edu.gcu" p:suffix="ssoclient.properties.jmx">
					<property name="mbean">
						<bean class="edu.gcu.jmx.SsoClientResourceBundleConfig"/>
					</property>
				</bean>
            </util:set>
		</constructor-arg>
	</bean> -->